.b-sheet {
  &__container {
    @apply absolute left-5 right-5 bottom-5;
    @apply rounded-2xl max-h-7/10 h-full shadow bg-pink-50 dark:bg-dark-400;
    @apply overflow-hidden will-change-transform;
    width: calc(100% - 2.5rem);
  }

  &__overlay {
    @apply fixed left-0 right-0 bottom-0 top-0;
    @apply w-full h-full;
    @apply bg-dark-300 opacity-70;
  }

  &__title {
    @apply flex justify-center items-center py-2;
    @apply bg-pink-100 dark:bg-dark-600;
    @apply text-lg font-semibold select-none;

    &-additional {
      @apply absolute left-5 p-3 pb-13;
      @apply flex items-center justify-between;
      @apply rounded-t-2xl text-xs bg-pink-200 dark:bg-indigo-500;

      bottom: calc(70% - 1.25rem);
      width: calc(100% - 2.5rem);
    }
  }

  &__close-btn {
    @apply absolute right-5;
  }

  &__body {
    @apply px-10 pt-5 pb-5 overflow-auto;
    height: calc(100% - 2.5rem);
  }

  &__no-data {
    @apply flex justify-center items-center h-full w-full text-xl;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 200ms ease-out;

  .b-sheet {
    &__container,
    &__title-additional {
      transition: all 150ms ease-out;
      transition-property: transform, opacity;
    }

    &__title-additional {
      transition: all 100ms ease-out;
    }
  }
}

.v-enter-from,
.v-leave-to {
  opacity: 0;

  .b-sheet {
    &__container,
    &__title-additional {
      opacity: 0;
      transform: translateY(20%);
    }
  }
}
